body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

h1 {
    color:red;
}

.access-menu  {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}

.access-menu img {
    border-radius: 100%;
    width: 2.3rem;
}

.notification-icon {
    font-size: 1.5rem;
}

.search-icon {
    margin-left: -2.3rem;
    font-size:1rem;
}

header h1, header div {
    width: 30%;
}
input {
    padding: 0.3rem;
    padding-right: 1rem;
}
header nav a{
    text-decoration: none;
    margin: 0 0.5rem;
    color: rgb(59, 59, 59);
}
header nav a:hover{
    color:red;
}